*{
    margin: 0%;
    padding: 0%;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
}

.container{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.cax{
    width: 100px;
    height: 100px;
    margin: 2px;
    border:solid 2px;
    
}

.caixa1{
    background-color: red;
    
}

.caixa2{
    background-color: green;
}

.caixa3{
    background-color: blue;
}