*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/4553008-azul-ceu-brilho-desenho-fundo-gr%C3%A1tis-vetor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 80vh;
    
}
h1{
    font: 40px xx-large;
    color: black;

}
main{
    margin: 1%;
    font: 20px caption;
}
h2{
    margin-left: 5%;
}
