.container{
    display: flex;
    gap: 1rem
}

aside{
    justify-content: center;
    display: flex;
    display: column;
    border: solid red 5px;
    height: 100vh;
    width: 25%;
}
main{
    justify-content: center;
    display: flex;
    display: column;
    border: solid red 5px;
    width: 75%;
    
}

